.App {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.heading{
    font-style: bold;
    color: black;
    text-align: left;
}

.Cards {
    max-width: 100%;
    display: flex;
    overflow: auto;
    background-color: whitesmoke;
    width: 100%;
}

::-webkit-scrollbar
{
  display: none;
}

  